---
name: build

on: push

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - run: nix develop -- pre-commit run -a

  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        test:
          - plugin: cabal
          - plugin: ghc
          - plugin: hls
            command: haskell-language-server-wrapper --version
          - plugin: hls
            version: 1.6.1.0
            command: haskell-language-server-wrapper --version
          - plugin: stack
      fail-fast: true
    runs-on: ${{ matrix.os }}
    needs: [check]
    steps:
      - uses: asdf-vm/actions/plugin-test@v3
        with:
          command: ${{ matrix.test.command || format('{0} --version', matrix.test.plugin) }}
          plugin: ${{ matrix.test.plugin }}
          version: ${{ matrix.test.version || 'latest' }}
